allow untrusted_app storage_stub_file:dir getattr;

# Direct access to vold-mounted storage under /mnt/media_rw
# This is a performance optimization that allows platform apps to bypass the FUSE layer
allow untrusted_app sdcard_posix:dir create_dir_perms;
allow untrusted_app sdcard_posix:file create_file_perms;

# Allow untrusted apps to crop user images
allow untrusted_app system_app_data_file:file rw_file_perms;

allow untrusted_app storage_stub_file:dir getattr;

allow untrusted_app tombstone_data_file:dir getattr;

